{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-danger">Regresar</button>
      </div>
      <div class="col-sm">
        <div class="display-3">
            Crear Habitacion
          </div>
        
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">

    </div>
  </div>
{% endblock %}