{% extends "index.html" %}

{% block content %}

<div class="alert alert-primary" role="alert">
    <p class="text-center">MENU CLIENTES</p>
  </div>
  <button type="button" class="btn btn-primary">RETURN</button>
  <button type="button" class="btn btn-secondary">REQUEST</button>
  <p class="text-center">PERFIL</p>
  <button type="button" class="btn btn-danger">PROFILE</button>
<button type="button" class="btn btn-warning">CONTINUE WITH YOUR RESERVATION</button>
<button type="button" class="btn btn-info">MANAGE MY RESERVATION</button>
{% endblock %}