{% extends "index.html" %}

{% block content %}

<div class="alert alert-primary" role="alert">
    <p class="text-center">MENU CLIENTES</p>
  </div>
  <button type="button" class="btn btn-primary">RETURN</button>
  <button type="button" class="btn btn-secondary">REQUEST</button>
  <div class="alert alert-success" role="alert">
    <p class="text-center">PERFIL</p>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">PERSONAL INFORMATION</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="EDITABLE DATA FORM">
  </div>
{% endblock %}